@import "../../style/colors";
@import "../../style/variables";

.Gallery {
  width: 100%;

  &__item {
    position: relative;
    width: calc(33.33% - 24px);
    display: block;
    margin: 0 12px 24px;

    @media #{$screen-md} {
      width: calc(100% - 24px);

      .Gallery__description {
        opacity: 0 !important;
      }
    }

    &:hover {
      .Gallery__description {
        opacity: 1;
      }
    }
  }

  &__description {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    transition: opacity 0.3s ease;
    padding: 15px 30px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description-copy {
    margin: 8px 0 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #94d0ef;
  }

  &__description-title {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 12px 0;
    color: #94d0ef;
  }

  &__description-text {
    font-size: 14px;
    font-weight: 400;
    margin: 2px;
    opacity: 0.8;
    line-height: 1.3;
    word-spacing: 2px;
  }

  &__item {
    transition: opacity 1s ease;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;

    &--visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }
}
