@import "../../style/colors";
@import "../../style/variables";

.Heading {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;

  @media #{$screen-md} {
    padding-bottom: 40px;
  }

  &__title {
    margin: 70px 0;
    font-weight: 400;
    font-family: PlayfairDisplay;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 10px;
    text-align: center;
    color: $color-dark;

    @media #{$screen-md} {
      font-size: 24px;
      line-height: 1.6;
      margin: 40px 0;
    }
  }

  &__nav-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    @media #{$screen-md} {
      margin: 0 -12px;
    }
  }

  &__nav-item {
    position: relative;

    &::after {
      @media #{$screen-md} {
        width: 2px;
        height: 2px;
      }

      content: "";
      width: 3px;
      height: 3px;
      background-color: $color-black;
      opacity: 0.5;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 50%;
    }

    &:last-of-type::after {
      content: none;
    }
  }

  &__nav-link {
    position: relative;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    opacity: 0.4;
    text-decoration: none;
    color: $color-dark;
    transition: opacity 0.3s ease;
    padding: 12px;
    display: block;
    margin: 0 24px;

    &:hover {
      opacity: 1;
    }

    @media #{$screen-md} {
      margin: 0 6px;
      font-size: 12px;
      padding: 6px;
    }

    &--active {
      opacity: 1;
    }
  }
}
