.Modal {
  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: white;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
