@import "resources";
@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=PlayfairDisplay|Lato:300,400,600");

*,
*::before,
*::after {
  font-family: $font-primary;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.font-secondary {
  font-family: $font-secondary;
}

.ril-caption.ril__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 80px;
}

.ril__captionContent {
  padding: 0 !important;
}

img.ril__image {
  top: 80px;
  left: 80px;
  right: 80px;
  bottom: 80px;
}

body.ReactModal__Body--open{
  overflow: hidden;
}
