@import "../../style/variables";

.About {
  &__content {
    line-height: 1.7;
    width: calc(50% + 48px);
    margin: 0 auto;
    font-weight: 300;
    text-align: justify;
    float: right;

    p {
      margin-top: 0;
    }
  }

  &__image {
    margin-top: 8px;
    width: calc(50% - 80px);
    margin: 0 auto 40px;
    float: left;
  }

  &__title {
    text-align: center;
    font-family: $font-secondary;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 0 40px;
  }
}
